<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Detection</title>
</head>
<body>
    <h1>Image Detection</h1>
    <form action="/detect" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Detect Faces">
    </form>
    <div id="result">
        {% if result_image_path %}
        <h2>Detected Faces:</h2>
        <img src="/detected/{{ result_image_path }}" alt="Detected Faces">
        {% endif %}
    </div>
</body>
</html>
